.modal {
  position: absolute;
  z-index: 2;
  min-width: 450px;
  min-height: 609px;
  padding: 40px;

  background-color: var(--secondary-accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 400ms ease-out;

  @media screen and (max-width: 479px) {
    min-width: 320px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  // visibility: hidden;
  pointer-events: none;

  transform: scale(0);
  transition: transform 400ms ease-out, opacity 400ms ease-out;
}
