body {
    color: var(--primary-text-color);
    font-family: $primary-font;
  
    padding-top: 80px;
  }
  
  img {
    display: block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .address {
    font-style: normal;
  }