:root {
  --secondary-bgncolor: #f5f4fa;
  --specialization-overlay: rgba(47, 48, 58, 0.8);

  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --button-hover-color: #188ce8;
  --secondary-accent-text-color: #ffffff;
  --logo-text-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --icon-text-color: #afb1b8;
}

$primary-bgncolor: #2f303a;
$primary-font: 'Roboto', sans-serif;